@page "/test"
@using Microsoft.AspNetCore.Components.Web

<h3>Whitch Yung Lean album are you?</h3>

<div class="quiz-container">
   
    <iframe src="https://form.typeform.com/to/q6w2xnMn" width="100%" height="500px"></iframe>
</div>

<style>
    .quiz-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        text-align: center;
    }
</style>